.font {
  &--druk-condensed-super {
    font-family: $druk-super;
  }

  &--druk-wide-super {
    font-family: $druk-wide-super;
  }

  &--recoleta-semi-bold {
    font-family: $recoleta-semi-bold;
  }

  &--work-sans {
    font-family: $work-sans;
  }
}
