<div class="info-window">
  <div class="info-window__close-btn" (click)="closeInfoWindow()">
    <cx-icon [type]="iconTypes.CLOSE" class="icon icon--close"></cx-icon>
  </div>
  <app-collection-point-item
    [data]="storeInfo"
    [dataType]="dataType"
    [showOpeningHrs]="true"
    [showDirectionsBtn]="showDirectionsBtn"
    [showStoreDetailsBtn]="showStoreDetailsBtn"
    [showStockStatus]="showStockStatus"
    [searchedLocation]="searchedLocation"
    [showUnavailableBtn]="showUnavailableBtn"
    [showInfoBtn]="false"
    (selectCollectionPointEmit)="onSelectCollectionPointEmit($event)"
    (selectCollectInStoreEmit)="onSelectInStoreEmit($event)"
  ></app-collection-point-item>
</div>
