<div id="customCard-container">
  <div
    class="adyen-checkout__field adyen-checkout__field--50 adyen-checkout__field__cvc adyen-checkout__field--securityCode"
  >
    <div class="adyen-checkout__label">
      <span class="adyen-checkout__label__text">
        {{ 'payment.CVC' | cxTranslate }} / {{ 'payment.CVV' | cxTranslate }}
      </span>
      <span class="adyen-checkout__input-wrapper">
        <span
          class="adyen-checkout__input adyen-checkout__input--small adyen-checkout__card__cvc__input"
          data-cse="encryptedSecurityCode"
        >
        </span>
      </span>
    </div>
  </div>
</div>
