%cx-pagination {
  ul .pagination .page-item.active .page-link {
    background-color: var(--cx-background-color, var(--cx-color-primary));
    border-color: var(--cx-border-color, var(--cx-color-primary));
  }
}

.results-count {
  font-size: 14px;

  &__value {
    font-family: $work-sans-semibold;
  }

  &--border {
    padding-top: 10px;
    border-top: 1px solid $border-colour;
  }
}

.tools-bar {
  &--top {
    margin-bottom: 60px;

    .results-count {
      padding-top: 10px;
      border-top: 1px solid $border-colour;
    }
  }

  &--bottom {
    .results-count {
      padding-bottom: 10px;
      padding-top: 10px;
      margin-bottom: 20px;
      border-top: 1px solid $border-colour;

      @media (max-width: $breakpoint-sm) {
        border-top: none;
        border-bottom: 1px solid $border-colour;
      }
    }
  }
}

.pagination {
  width: 100%;
  display: inline-flex;
  justify-content: center;

  &__section {
    display: inline-flex;
    flex-grow: 1;
    display: inline-flex;

    &--next {
      justify-content: flex-start;
    }

    &--content {
      justify-content: center;
    }

    &--next {
      justify-content: flex-end;
    }
  }

  &__link {
    border: 0;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-family: $work-sans-medium;
    background-color: transparent;
    color: var(--cx-color-core-primary);
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: #3a857e !important;
      filter: none;
    }

    &:focus {
      outline: 5px auto -webkit-focus-ring-color !important;
    }

    &--active {
      background-color: #ccdddb;
      border-color: var(--cx-color-core-primary);
      color: var(--cx-color-core-primary);
    }

    &--disabled {
      cursor: not-allowed;
    }

    &--prev {
      &:before {
        font-size: 19px;
        color: var(--cx-color-core-primary);
        font-family: '${icomoon-font-family}';
        content: $icon--chevron-left;
      }
    }

    &--next {
      &:before {
        font-size: 19px;
        color: var(--cx-color-core-primary);
        font-family: '${icomoon-font-family}';
        content: $icon--chevron-right;
      }
    }
  }

  &__list {
    list-style: none;
    display: inline-flex;
  }
}
