// VARIABLES.LESS
$icon--print: '\e950';
$icon--call: '\e951';
$icon--logo-pod: '\e920';
$icon--logo-primary: '\e921';
$icon--logo-wordmark: '\e94d';
$icon--star: '\e94b';
$icon--star_empty: '\e94a';
$icon--star_half: '\e94c';
$icon--list: '\e947';
$icon--locator: '\e948';
$icon--map: '\e949';
$icon--addresses_hover: '\e900';
$icon--addresses: '\e901';
$icon--arrow-left: '\e903';
$icon--arrow-right: '\e904';
$icon--basket_hover: '\e905';
$icon--basket: '\e906';
$icon--bottle_large: '\e907';
$icon--bottle_medium: '\e908';
$icon--bottle_small: '\e909';
$icon--box_hover: '\e90a';
$icon--box: '\e90b';
$icon--menu: '\e90c';
$icon--chevron-up: '\e90d';
$icon--chevron-down: '\e90e';
$icon--chevron-left: '\e90f';
$icon--chevron-right: '\e910';
$icon--close: '\e911';
$icon--filter: '\e912';
$icon--heart_hover: '\e913';
$icon--heart: '\e914';
$icon--location_hover: '\e915';
$icon--location: '\e916';
$icon--my-account_hover: '\e917';
$icon--my-account: '\e918';
$icon--order-history_hover: '\e919';
$icon--order-history: '\e91a';
$icon--password_hover: '\e91b';
$icon--password: '\e91c';
$icon--payment_hover: '\e91d';
$icon--payment: '\e91e';
$icon--plus: '\e91f';
$icon--minus: '\e946';
$icon--preferences_hover: '\e922';
$icon--preferences: '\e923';
$icon--privacy_hover: '\e924';
$icon--privacy: '\e925';
$icon--profile_hover: '\e926';
$icon--profile: '\e927';
$icon--search_hover: '\e928';
$icon--search: '\e929';
$icon--shop_hover: '\e92a';
$icon--shop: '\e92b';
$icon--sign-out_hover: '\e92c';
$icon--sign-out: '\e92d';
$icon--tag: '\e92e';
$icon--tick: '\e92f';
$icon--trash_hover: '\e930';
$icon--trash: '\e931';
$icon--truck_hover: '\e932';
$icon--truck: '\e933';
$icon--wishlist_hover: '\e934';
$icon--wishlist: '\e935';
$icon--bubble: '\e936';
$icon--play: '\e937';
$icon--youtube: '\e94f';
$icon--twitter: '\e939';
$icon--tumblr: '\e93a';
$icon--facebook: '\e93b';
$icon--pinterest: '\e93c';
$icon--linkedin: '\e93d';
$icon--envelope: '\e93e';
$icon--googleplus: '\e93f';
$icon--feed: '\e940';
$icon--instagram: '\e941';
$icon--snapchat: '\e942';
$icon--stumbleupon: '\e943';
$icon--apple: '\e944';
$icon--android: '\e902';
$icon--podcast: '\e945';
$icon--edit: '\e999';
$icon--wheelchair: '\e938';
$icon--clock: '\e94e';
