$loyalty-radial-height: 5.5rem;
$loyalty-radial-overlay-height: 7.25rem;

.cart-order-summary {
  background-color: var(--cx-color-base-natural-warmth40);
  border-top: 3px solid var(--cx-color-core-primary);
  .btn-checkout {
    display: block;
    margin: 0 auto;
  }

  .cx-summary {
    &-row {
      border-bottom: 1px solid var(--cx-color-core-primary);
    }
    &-subtotal {
      font-family: $work-sans-bold;
    }
  }
  &-title {
    font-family: $recoleta-medium;
  }
  &-actions {
    .cart-reference-no {
      strong {
        font-family: $work-sans-medium;
      }
    }
  }
  &-payment-icons {
    img {
      max-height: 30px;
    }
  }
  &-loyalty-points {
    &-wrapper {
      background-color: var(--cx-color-core-tertiary);
    }
    &-title {
      font-family: $work-sans-bold;
      font-size: 1.75rem;
      padding-right: 1.25rem;
    }
    &-body {
      strong {
        font-family: $work-sans-bold;
      }
    }
    &-radial {
      min-width: $loyalty-radial-height;
      width: $loyalty-radial-height;
      height: $loyalty-radial-height;
      border-radius: 50%;
      border: 3px solid var(--cx-color-core-secondary);
      background-color: var(--cx-color-core-tertiary);
      color: var(--cx-color-base-white);
      font-size: 0.75rem;
      top: -0.5rem;
      right: 45%;
      @include media-breakpoint-down(md) {
        right: 35%;
      }
      @include media-breakpoint-down(sm) {
        right: 40%;
      }
      @include media-breakpoint-down(xs) {
        right: 56%;
      }
      &::before {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 50%;
        content: '';
        background-color: var(--cx-color-core-secondary);
        height: calc(#{$loyalty-radial-height} - 12px);
        width: calc(#{$loyalty-radial-height} - 12px);
      }
      div {
        line-height: 1.2;
        z-index: 1;
      }
    }
    &-numeral {
      font-family: $work-sans-bold;
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
    &-overlay {
      width: $loyalty-radial-overlay-height;
      height: $loyalty-radial-overlay-height;
      bottom: -72%;
      right: -108%;
      img {
        -o-object-fit: contain;
        object-fit: contain;
        height: 100%;
      }
    }
  }
}

.cart-delivery-modes-modal {
  .cx-cart-delivery-mode {
    &-label {
      color: var(--cx-color-text);
    }
    &-price {
      -webkit-box-flex: 50%;
      -ms-flex: 50%;
      flex: 50%;
      text-align: right;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
    &-details {
      -webkit-box-flex: 100%;
      -ms-flex: 100%;
      flex: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      color: var(--cx-color-success);
    }
  }
}
