/*
  Backgrounds
*/
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value !important;
  }
}

.list {
  padding: 0;
  margin: 20px 0;
  li {
    font-family: $work-sans;
    list-style-type: initial;
    margin-left: 20px;
  }
}
