<div class="product-key-ingredients">
  <ng-container *ngIf="product$ | async as product">
    <div class="product-key-ingredients__section" *ngFor="let keyIngredient of product.keyIngredients">
      <h3 class="product-key-ingredients__title">{{ keyIngredient.name }}</h3>
      <p class="product-key-ingredients__desc">{{ keyIngredient.description }}</p>
      <!-- <a class="product-key-ingredients__link" href="{{ keyIngredient.pageLink }}">Read more</a> -->
    </div>
    <!-- <div class="container" [innerHTML]="product?.description"></div> -->

    <cx-generic-link
      *ngIf="product.technicalIngredients"
      (click)="openFullListIngredientsModal(fullListIngredientsModal)"
      class="product-key-ingredients__link product-key-ingredients__link--full"
    >
      {{ 'product.viewFullListIngredients' | cxTranslate }}
    </cx-generic-link>

    <ng-template #fullListIngredientsModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          [attr.aria-label]="'common.closeBtn' | cxTranslate"
          (click)="d('Cross click')"
        >
          <span aria-hidden="true">
            <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <h4 class="modal-title">{{ 'product.ingredients' | cxTranslate }}</h4>
            <p>{{ product.technicalIngredients }}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
