<div
  [ngClass]="{
    'my-account bg-my-account': isUserLogged
  }"
>
  <div class="container">
    <div class="row">
      <ng-container *ngIf="isUserLogged">
        <div class="my-account__col col-12 col-md-3 pt-5 pr-0 pl-0 bg-base-silver d-none d-md-block">
          <nav class="account-nav"></nav>
        </div>
      </ng-container>
      <div [ngClass]="isUserLogged ? 'my-account__col col-12 col-md-9 pt-5 bg-white' : 'col-12 pt-5 bg-white'">
        <div class="pl-md-5">
          <ng-container *ngIf="guestListEmpty || listEmpty">
            <app-wishlist-intro></app-wishlist-intro>
            <p>
              <button *ngIf="isUserLogged" (click)="openWishlistModal()" class="btn btn--secondary wishlists__cta">
                {{ 'wishlists.createCta' | cxTranslate }}
              </button>
              <button
                *ngIf="guestListEmpty && !isUserLogged"
                [routerLink]="{ cxRoute: 'home' } | cxUrl"
                class="btn btn--secondary wishlists__cta"
              >
                {{ 'wishlists.start' | cxTranslate }}
              </button>
            </p>
          </ng-container>

          <ng-container *ngIf="isUserLogged">
            <ng-container *ngIf="wishlists$ as wishlists">
              <app-wishlist-lists [lists]="wishlists"></app-wishlist-lists>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="!isUserLogged">
            <h1 class="wishlists__title h1 h1--alt text-center mb-4">{{ 'wishlists.guestTitle' | cxTranslate }}</h1>
            <div role="alert" class="alert-info p-2 mb-3 text-center">
              <span class="icon icon--heart"></span>
              <a [routerLink]="['/login']" class="link ml-1">
                {{ 'wishlists.guestMessage.link' | cxTranslate }}
              </a>
              <span>{{ 'wishlists.guestMessage.text' | cxTranslate }}</span>
            </div>
            <div *ngIf="showDeletionMessage" role="alert" class="alert-success p-2 mb-3 text-center">
              <span>{{ 'wishlists.deletedConfirmationGuest' | cxTranslate }}</span>
              <button
                type="button"
                class="btn btn--link"
                [attr.aria-label]="'common.closeBtn' | cxTranslate"
                (click)="closeDeletionMessage()"
              >
                <span aria-hidden="true">
                  <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
                </span>
              </button>
            </div>
            <app-wishlist-products-listing
              (productListingEmit)="removeProductFromList($event)"
              [products]="products"
            ></app-wishlist-products-listing>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<app-wishlist-name-modal></app-wishlist-name-modal>
