.collection-point-tab,
.collection-point__collect-content {
  .collection-point {
    border: 1px solid var(--cx-color-core-primary);
    max-width: 300px;
  }
}
.collection-point-container {
  max-width: 590px;
  @include media-breakpoint-down(md) {
    padding: 0 15px;
    max-width: 100%;
  }
}
.collection-point__collect-content {
  h3 {
    text-transform: inherit;
    font-size: 16px;
    font-family: $work-sans-bold;
    margin-bottom: 25px;
  }
}
