.opening-hrs {
  margin: 1em 0 0;
  font-size: 14px;
  &__list {
    margin-bottom: 0;
    list-style: none;
  }
  &__list-item {
    &--closed {
      color: var(--cx-color-danger);
    }
  }
  &__title {
    font-family: 'WorkSansSemibold';
    font-size: 14px;
  }
  &__day,
  &__times {
    width: 50%;
    display: inline-block;
  }
}
