<div class="styleguide">
  <h1>Styleguide</h1>
  <h2 class="sg-headings">Colours</h2>
  <h4 class="sg-sub-headings">Core Green Palette</h4>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-core-primary"></span>
      <span class="sg-label">
        TBS Green = core primary <br />
        #004236 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-core-primary);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-core-secondary"></span>
      <span class="sg-label">
        Brighton Green = core-secondary<br />
        #3A857E <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-core-secondary);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-core-tertiary"></span>
      <span class="sg-label">
        Stem Green = core-tertiary<br />
        #D6CE4B <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-core-tertiary);</span>
      </span>
    </li>
  </ul>

  <h4 class="sg-sub-headings">Neutral Colors</h4>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-base-natural-warmth"></span>
      <span class="sg-label">
        Natural Warmth <br />
        #D2AD93 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-natural-warmth);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-nourishing-white"></span>
      <span class="sg-label">
        Nourishing White <br />
        #F8F3E8 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-nourishing-white);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-terracotta"></span>
      <span class="sg-label">
        Terracotta <br />
        #A7674C <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-terracotta);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-white"></span>
      <span class="sg-label">
        White <br />
        #ffffff <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-white);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-black"></span>
      <span class="sg-label">
        Black <br />
        #000000 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-black);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-natural-warmth30"></span>
      <span class="sg-label">
        Natural Warmth 30% <br />
        #F5ECE6 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-natural-warmth30);</span>
      </span>
    </li>
  </ul>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-base-grey"></span>
      <span class="sg-label">
        Grey <br />
        #AAAAAA <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-grey);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-metal"></span>
      <span class="sg-label">
        Metal <br />
        #626262 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-metal);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-silver"></span>
      <span class="sg-label">
        Silver <br />
        #F4F4F4 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-silver);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-base-tbs20"></span>
      <span class="sg-label">
        TBS20 <br />
        #00352B <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-base-tbs20);</span>
      </span>
    </li>
  </ul>
  <h4 class="sg-sub-headings">Bold Accents</h4>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-accent-green"></span>
      <span class="sg-label">
        Activist Green <br />
        #00AB00 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-accent-green);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-accent-orange"></span>
      <span class="sg-label">
        Poster Orange <br />
        #FF4233 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-accent-orange);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-accent-yellow"></span>
      <span class="sg-label">
        Joyful Yellow <br />
        #FFCF00 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-accent-yellow);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-accent-blue"></span>
      <span class="sg-label">
        Repurposed Blue <br />
        #0077D5 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-accent-blue);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-accent-pink"></span>
      <span class="sg-label">
        Fearless Pink <br />
        #C644A1 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-accent-pink);</span>
      </span>
    </li>
  </ul>
  <h4 class="sg-sub-headings">Holistic Palette</h4>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-dark-olive"></span>
      <span class="sg-label">
        Dark olive green <br />
        #66703A <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-dark-olive);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-dollar-bill"></span>
      <span class="sg-label">
        Dollar bill <br />
        #8BB057 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-dollar-bill);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-dark-khaki"></span>
      <span class="sg-label">
        Dark khaki <br />
        #B7C072 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-dark-khaki);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-cadet-blue"></span>
      <span class="sg-label">
        Cadet blue <br />
        #569294 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-cadet-blue);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-ucla-blue"></span>
      <span class="sg-label">
        UCLA Blue <br />
        #626B95 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-ucla-blue);</span>
      </span>
    </li>
  </ul>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-holistic-redwood"></span>
      <span class="sg-label">
        Redwood <br />
        #B14A4F <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-redwood);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-chestnut"></span>
      <span class="sg-label">
        Chestnut <br />
        #DC5C60 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-chestnut);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-light-coral"></span>
      <span class="sg-label">
        Light coral <br />
        #DF8281 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-light-coral);</span>
      </span>
    </li>
  </ul>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-holistic-deep-chestnut"></span>
      <span class="sg-label">
        Deep chestnut <br />
        #B35E42 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-deep-chestnut);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-earth-yellow"></span>
      <span class="sg-label">
        Earth yellow <br />
        #D7A269 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-earth-yellow);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-gamboge"></span>
      <span class="sg-label">
        Gamboge <br />
        #E39A1C <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-gamboge);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-holistic-indian-yellow"></span>
      <span class="sg-label">
        Indian yellow <br />
        #E4B150 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-holistic-indian-yellow);</span>
      </span>
    </li>
  </ul>
  <h4 class="sg-sub-headings">Other Colours</h4>
  <ul class="sg-colors">
    <li>
      <span class="sg-swatch bg-misc-ticker"></span>
      <span class="sg-label">
        Ticker only - promo banner<br />
        #3A857E <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-misc-ticker);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-misc-field-bg"></span>
      <span class="sg-label">
        Input field bg <br />
        #00352B <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-misc-field-bg);</span>
      </span>
    </li>
    <li>
      <span class="sg-swatch bg-misc-field-hint"></span>
      <span class="sg-label">
        Input field text hint <br />
        #C5CCC1 <br />
        <span class="sg-code" (click)="copyTextToClipboard($event)">var(--cx-color-misc-field-hint);</span>
      </span>
    </li>
  </ul>

  <h2 class="sg-headings">Typography</h2>

  <h4 class="sg-sub-headings">Headings</h4>
  <h1>Heading Level 1 - Option 1</h1>
  <h1 class="h2 h2--alt">Heading Level 1 - Option 2</h1>
  <br />
  <h2>Heading Level 2 - Option 1</h2>
  <h2 class="h2 h2--alt">Heading Level 2 - Option 2</h2>
  <h2 class="h2 h2--dense">Heading Level 2 - Option 3</h2>
  <br />
  <h3>Heading Level 3 - Option 1</h3>

  <h4 class="sg-sub-headings">Product labels</h4>

  <div class="position-relative">
    <span class="product-label product-label--bright">Sale</span>
  </div>
  <br />
  <div class="position-relative">
    <span class="product-label">Bestseller</span>
  </div>
  <br />
  <div class="position-relative">
    <span class="product-label product-label--large product-label--bright">Sale</span>
  </div>
  <br />
  <div class="position-relative">
    <span class="product-label product-label--large">Bestseller</span>
  </div>
  <br />

  <h4 class="sg-sub-headings">Bulleted lists</h4>
  <p>
    Lorem ipsum cursus mattis lacus eget et elementum velit ad placerat nunc venenatis molestie id libero ridiculus
    eros, auctor ullamcorper proin himenaeos mollis donec sociis.
  </p>
  <ul class="list">
    <li>Suitable for flaky scalp</li>
    <li>Vegan</li>
    <li>Lightweight and non-greasy</li>
    <li>Hydrates lorem ipsum dolor</li>
    <li>Suitable for daily use</li>
  </ul>

  <p>
    Lorem ipsum cursus mattis lacus eget et elementum velit ad placerat nunc venenatis molestie id libero ridiculus
    eros, auctor ullamcorper proin himenaeos mollis donec sociis.
  </p>

  <h4 class="sg-sub-headings">Paragraph</h4>
  <div class="box-padding bg-base-nourishing-white">
    <p>
      Baseline bodycopy lorem ipsum dolor sit amet consectetur adipiscing elit dui lectus arcu, dictumst nam odio erat
      interdum neque urna ultrices aliquet. Litora scelerisque dictum conubia non ac iaculis nec, ridiculus volutpat
      tempor ante class suscipit vivamus, augue platea quisque dignissim inline link libero. Dapibus sem auctor praesent
      per nunc eu hendrerit nulla, justo habitant felis molestie curabitur nisi libero morbi taciti.
    </p>
  </div>
  <div class="box-padding bg-core-primary text-base-nourishing-white">
    <p>
      Baseline bodycopy lorem ipsum dolor sit amet consectetur adipiscing elit dui lectus arcu, dictumst nam odio erat
      interdum neque urna ultrices aliquet. Litora scelerisque dictum conubia non ac iaculis nec, ridiculus volutpat
      tempor ante class suscipit vivamus, augue platea quisque dignissim inline link libero. Dapibus sem auctor praesent
      per nunc eu hendrerit nulla, justo habitant felis molestie curabitur nisi libero morbi taciti.
    </p>
  </div>

  <h2 class="sg-headings">Messaging</h2>
  <h4 class="sg-sub-headings">Component level notices</h4>
  <app-messaging type="info" content="A very informative message"></app-messaging>
  <app-messaging type="success" content="A success message"></app-messaging>
  <app-messaging type="warning" content="A very warning message"></app-messaging>
  <app-messaging type="danger" content="A very danger message"></app-messaging>

  <h2 class="sg-headings">Buttons</h2>
  <h4 class="sg-sub-headings">Primary</h4>
  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--primary">Primary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--primary">Primary button</button>
    </span>
  </div>
  <div class="box-padding bg-core-primary">
    <span class="ml-2">
      <a href="/" class="btn btn--primary btn--invert">Primary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--primary btn--invert">Primary button</button>
    </span>
  </div>

  <h4 class="sg-sub-headings">Secondary</h4>
  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--secondary">Secondary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--secondary">Secondary button</button>
    </span>
  </div>
  <div class="box-padding bg-core-primary">
    <span class="ml-2">
      <a href="/" class="btn btn--secondary btn--invert">Secondary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--secondary btn--invert">Secondary button</button>
    </span>
  </div>

  <h4 class="sg-sub-headings">Disabled</h4>
  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--primary btn--disabled">Primary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--primary btn--disabled">Primary button</button>
    </span>
  </div>
  <div class="box-padding bg-core-primary">
    <span class="ml-2">
      <a href="/" class="btn btn--primary btn--invert btn--disabled">Primary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--primary btn--invert btn--disabled">Primary button</button>
    </span>
  </div>
  <br />
  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--secondary btn--disabled">Secondary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--secondary  btn--disabled">Secondary button</button>
    </span>
  </div>
  <div class="box-padding bg-core-primary">
    <span class="ml-2">
      <a href="/" class="btn btn--secondary btn--invert btn--disabled">Secondary button</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--secondary btn--invert  btn--disabled">Secondary button</button>
    </span>
  </div>

  <h4 class="sg-sub-headings">Filter</h4>

  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--primary btn--icon">
        <span class="btn__icon icon icon--filter"></span> Filter products
      </a>
    </span>
    <span class="ml-2">
      <button class="btn btn--primary btn--icon">
        <span class="btn__icon icon icon--filter"></span> Filter products
      </button>
    </span>
  </div>
  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--primary btn--icon btn--large">
        <span class="btn__icon icon icon--filter"></span> Filter products
      </a>
    </span>
    <span class="ml-2">
      <button class="btn btn--primary btn--icon btn--large">
        <span class="btn__icon icon icon--filter"></span> Filter products
      </button>
    </span>
  </div>

  <h4 class="sg-sub-headings">Negative action</h4>
  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--warning">Remove</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--warning">Remove label</button>
    </span>
  </div>
  <div class="box-padding bg-core-primary">
    <span class="ml-2">
      <a href="/" class="btn btn--warning btn--invert">Remove</a>
    </span>
    <span class="ml-2">
      <button class="btn btn--warning btn--invert">Remove label</button>
    </span>
  </div>
  <div class="box-padding">
    <span class="ml-2">
      <a href="/" class="btn btn--warning btn--icon"> <span class="btn__icon icon icon--close"></span>Remove </a>
    </span>
    <span class="ml-2">
      <button class="btn btn--warning btn--icon"><span class="btn__icon icon icon--close"></span>Remove label</button>
    </span>
  </div>
  <div class="box-padding bg-core-primary">
    <span class="ml-2">
      <a href="/" class="btn btn--warning btn--icon btn--invert">
        <span class="btn__icon icon icon--close"></span>Remove
      </a>
    </span>
    <span class="ml-2">
      <button class="btn btn--warning btn--icon btn--invert">
        <span class="btn__icon icon icon--close"></span>Remove label
      </button>
    </span>
  </div>

  <h4 class="sg-sub-headings">Add to bag set</h4>
  <div class="add-to-bag-set">
    <div aria-label="Add more items" class="add-to-bag-set__counter counter btn-group" role="group" tabindex="0">
      <button class="counter__btn counter__btn--decrement text-hide" type="button" disabled="">
        {{ 'common.btnDecrement' | cxTranslate }}
      </button>
      <input class="counter__input" value="1" name="value" type="number" />
      <button class="counter__btn counter__btn--increment text-hide" type="button">
        {{ 'common.btnIncrement' | cxTranslate }}
      </button>
    </div>
    <button class="add-to-bag-set__add btn btn--primary my-0">Add to bag</button>
    <button class="add-to-bag-set__fav btn btn--icon btn--none">
      <span class="btn__icon icon icon---heart-dynamic icon--add-set"
        ><span class="sr-only">Add to favourites</span></span
      >
    </button>
  </div>

  <h4 class="sg-sub-headings">Text links</h4>
  <div class="box-padding bg-base-nourishing-white">
    <p>
      <a class="link" href="/">inline link</a>
    </p>
  </div>
  <div class="box-padding bg-core-primary">
    <p>
      <a class="link link--invert" href="/">inline link</a>
    </p>
  </div>

  <h2 class="sg-headings">Forms</h2>
  <h4 class="sg-sub-headings">Colour Picker</h4>
  <div class="colour-variants__wrapper col-6">
    <div class="colour-variants__swatch colour-variants__swatch--active">
      <div class="colour-variants__swatch-inner" style="background-color: #EE5340"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #AF186F"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #9E244C"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #DC5C60"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #DF8281"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #B35E42"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #E04FA3"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #F9C4E3"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #FFCF00"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #E39A1C"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #66703A"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #569294"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #D6CE4B"></div>
    </div>
    <div class="colour-variants__swatch">
      <div class="colour-variants__swatch-inner" style="background-color: #B7C072"></div>
    </div>
  </div>

  <h4 class="sg-sub-headings">Radios</h4>
  <div class="container">
    <div class="row">
      <div class="box-padding bg-base-nourishing-white col-6">
        <label class="form-check">
          <input class="form-check-input" role="radio" type="radio" name="typeOfThings" />
          <span class="form-check-text">Gluten</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="radio" checked disabled type="radio" name="typeOfThings" />
          <span class="form-check-text">Vitamin C</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="radio" disabled type="radio" name="typeOfThings" />
          <span class="form-check-text">Lip Care</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="radio" type="radio" name="typeOfThings" />
          <span class="form-check-text">Vegan</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="radio" type="radio" name="typeOfThings" />
          <span class="form-check-text">Fragrance</span>
        </label>
      </div>
      <div class="box-padding bg-core-primary col-6">
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="radio" type="radio" name="typeOfThingsDark" />
          <span class="form-check-text">Gluten</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="radio" disabled checked type="radio" name="typeOfThingsDark" />
          <span class="form-check-text">Vitamin C</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="radio" disabled type="radio" name="typeOfThingsDark" />
          <span class="form-check-text">Lip Care</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="radio" type="radio" name="typeOfThingsDark" />
          <span class="form-check-text">Vegan</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="radio" type="radio" name="typeOfThingsDark" />
          <span class="form-check-text">Fragrance</span>
        </label>
      </div>
    </div>
  </div>

  <h4 class="sg-sub-headings">Checkboxes</h4>
  <div class="container">
    <div class="row">
      <div class="box-padding bg-base-nourishing-white col-6">
        <label class="form-check">
          <input class="form-check-input" role="checkbox" checked type="checkbox" />
          <span class="form-check-text">Gluten</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="checkbox" disabled type="checkbox" />
          <span class="form-check-text">Vitamin C</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="checkbox" disabled type="checkbox" />
          <span class="form-check-text">Lip Care</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="checkbox" type="checkbox" />
          <span class="form-check-text">Vegan</span>
        </label>
        <label class="form-check">
          <input class="form-check-input" role="checkbox" type="checkbox" />
          <span class="form-check-text">Fragrance</span>
        </label>
      </div>
      <div class="box-padding bg-core-primary col-6">
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="checkbox" checked type="checkbox" />
          <span class="form-check-text">Gluten</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="checkbox" disabled type="checkbox" />
          <span class="form-check-text">Vitamin C</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="checkbox" disabled type="checkbox" />
          <span class="form-check-text">Lip Care</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="checkbox" type="checkbox" />
          <span class="form-check-text">Vegan</span>
        </label>
        <label class="form-check form-check--invert">
          <input class="form-check-input" role="checkbox" type="checkbox" />
          <span class="form-check-text">Fragrance</span>
        </label>
      </div>
    </div>
  </div>

  <h2 class="sg-headings">Icons</h2>

  <div class="sg-list-card sg-list-card--icons">
    <div *ngFor="let icon of icons" class="sg-list-card__item">
      <div class="sg-list-card__details">
        <span class="icon icon--{{ icon.name }}"></span>
      </div>
      <div class="sg-list-card__desc">
        <span class="sg-code" (click)="copyTextToClipboard($event)">icon icon--{{ icon.name }}</span>
      </div>
    </div>
  </div>

  <h2 class="sg-headings">Components / Blocks</h2>
  <h4 class="sg-sub-headings">Hero (text + image)</h4>
  (amplience)
  <h4 class="sg-sub-headings">Media Block</h4>
  (amplience)

  <h4 class="sg-sub-headings">PLPs Badges</h4>

  <ng-container *ngIf="testProducts$ | async as testProducts">
    <div class="cx-product-container ">
      <div class="col-12 " *ngIf="viewMode$ | async as viewMode">
        <ng-container *ngIf="viewMode === ViewModes.Grid">
          <div class="row">
            <ng-container *ngFor="let product of testProducts">
              <app-product-grid-item
                [product]="product"
                class="col-6 col-sm-4 col-md-4 col-lg-3"
              ></app-product-grid-item>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <h4 class="sg-sub-headings">Figure with caption</h4>
  <div class="media-block">
    <div class="media-block__img-wrap">
      <img class="media-block__img" src="https://i1.adis.ws/i/thebodyshop/face-figure" alt="figure with caption" />
    </div>
    <h2 class="media-block__title h2 h2--dense">Night Care</h2>
    <p class="media-block__paragraph">
      Lorem ipsum dolor sit amet consectetur adipiscing elit, dapibus dui tempus turpis.
    </p>
  </div>

  <h4 class="sg-sub-headings">Pagination</h4>
  <ul class="pagination">
    <li class="pagination__section pagination__section--prev disabled">
      <a class="pagination__link pagination__link--prev"><span class="sr-only">Previous</span></a>
    </li>
    <li class="pagination__section pagination__section--content">
      <ul class="pagination__list">
        <li class="pagination__item">
          <a class="pagination__link pagination__link--active">1</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link">2</a>
        </li>
        <li class="pagination__item">
          <a class="pagination__link">3</a>
        </li>
        <li class="pagination__item"><a class="pagination__link">...</a></li>
        <li class="pagination__item"></li>
        <li class="pagination__item">
          <a class="pagination__link">6</a>
        </li>
      </ul>
    </li>
    <li class="pagination__section pagination__section--next">
      <a class="pagination__link pagination__link--next"><span class="sr-only">Next</span></a>
    </li>
  </ul>

  <h4 class="sg-sub-headings">Heros text banners</h4>
  <!-- TYPE 1 -->
  <h5 class="sg-sub-sub-headings">Heros text banners - Type 1</h5>
  <div class="hero">
    <h2 class="h3">{{ hero.category }}</h2>
    <h3 class="h2 h2--alt">{{ hero.titleLong }}</h3>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="h3">{{ hero.category }}</h2>
    <h3 class="h2 h2--alt">{{ hero.titleLong }}</h3>
  </div>
  <br />
  <div class="hero">
    <h2 class="h2 h2--alt">{{ hero.title }}</h2>
    <h3 class="h3">{{ hero.category }}</h3>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="h2 h2--alt">{{ hero.title }}</h2>
    <h3 class="h3">{{ hero.category }}</h3>
  </div>

  <!-- TYPE 2 -->
  <h5 class="sg-sub-sub-headings">Heros text banners - Type 2</h5>
  <div class="hero">
    <h2 class="h3">{{ hero.category }}</h2>
    <h3 class="h2 h2--dense">{{ hero.titleLong }}</h3>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="h3">{{ hero.category }}</h2>
    <h3 class="h2 h2--dense">{{ hero.titleLong }}</h3>
  </div>
  <br />
  <div class="hero">
    <h2 class="h2 h2--dense">{{ hero.title }}</h2>
    <h3 class="h3">{{ hero.category }}</h3>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="h2 h2--dense">{{ hero.title }}</h2>
    <h3 class="h3">{{ hero.category }}</h3>
  </div>

  <!-- TYPE 3 -->
  <h5 class="sg-sub-sub-headings">Heros text banners - Type 3</h5>
  <div class="hero">
    <h2 class="h3">{{ hero.category }}</h2>
    <h3 class="h2">{{ hero.titleLong }}</h3>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="h3">{{ hero.category }}</h2>
    <h3 class="h2">{{ hero.titleLong }}</h3>
  </div>
  <br />
  <div class="hero">
    <h2 class="h2">{{ hero.title }}</h2>
    <h3 class="h3">{{ hero.category }}</h3>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="h2">{{ hero.title }}</h2>
    <h3 class="h3">{{ hero.category }}</h3>
  </div>

  <!-- Sub Heading -->
  <h5 class="sg-sub-sub-headings">Heros text banners - Sub Heading</h5>
  <div class="hero">
    <h2 class="hero__subheading">{{ hero.subheading }}</h2>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="hero__subheading">{{ hero.subheading }}</h2>
  </div>

  <!-- Introduction -->
  <h5 class="sg-sub-sub-headings">Heros text banners - Introduction</h5>
  <div class="hero">
    <h2 class="hero__intro">{{ hero.intro }}</h2>
  </div>
  <br />
  <div class="hero hero--pale">
    <h2 class="hero__intro">{{ hero.intro }}</h2>
  </div>
  <br />
  <br />
  <!-- Amplience components -->
  <div>
    <h2 class="sg-headings">Amplience components</h2>
    <div class="box-padding bg-base-nourishing-white">
      <h2 class="h2">Amplience Content Type #1: Homepage Hero</h2>
      <app-amplience [amplienceInput]="'1cd18e92-6e1f-4f60-a6ce-8404c72afe99'"></app-amplience>
    </div>
    <br />
    <div class="box-padding bg-base-nourishing-white">
      <h2 class="h2">Amplience Content Type #2: Image & Text Editorial</h2>
      <app-amplience [amplienceInput]="'861f3735-fefe-455f-a49f-48af7a982dd2'"></app-amplience>
    </div>
    <br />
    <div class="box-padding bg-base-nourishing-white">
      <h2 class="h2">Amplience Content Type 2.1: Image & Text Editorial</h2>
      <app-amplience [amplienceInput]="'8e16663e-b7d9-4e8f-b08a-7186b68b64e0'"></app-amplience>
    </div>
    <br />
    <div class="box-padding bg-base-nourishing-white">
      <h2 class="h2">Amplience Content Type #3: Content Block</h2>
      <app-amplience class="fix-indent" [amplienceInput]="'64215467-6f3b-4521-9a6b-9699963d0ff1'"></app-amplience>
    </div>
    <br />
    <div class="box-padding bg-base-nourishing-white">
      <h2 class="h2">Amplience Content Type 4: Banner with background</h2>
      <app-amplience class="fix-indent" [amplienceInput]="'c09f03fd-628a-42b6-84dd-87abef6fa3c0'"></app-amplience>
    </div>
    <br />
    <div class="box-padding bg-base-nourishing-white">
      <h2 class="h2">Amplience Content Type #5: Simple banner</h2>
      <app-amplience [amplienceInput]="'becb8d5d-3a49-477a-b6f3-4d028512bf7e'"></app-amplience>
    </div>
    <br />
    <div class="box-padding bg-base-nourishing-white">
      <h2 class="h2">Amplience Content Type #6: Key Ingredient</h2>
      <app-amplience [amplienceInput]="'6e20283f-336b-4efe-aa70-bd3151d1466e'"></app-amplience>
    </div>
    <br />
  </div>
</div>
