<form [formGroup]="findCisForm" (ngSubmit)="onSubmit($event)" class="address-finder">
  <mat-form-field appearance="fill" class="mat-input-primary address-finder__input">
    <mat-label class="address-finder__label"> {{ 'addressFinder.label' | cxTranslate }}</mat-label>
    <input
      matInput
      class="mat-form-control address-finder__input"
      type="text"
      placeholder=""
      formControlName="location"
      name="location"
      [value]="searchQuery$ | async"
    />
  </mat-form-field>
  <span (click)="getGeolocation()" class="address-finder__geo-btn d-flex align-items-center justify-content-center">
    <span class="icon icon--locator"></span>
  </span>
  <button mat-button matSuffix mat-stroked-button type="submit" class="btn btn--primary address-finder__submit-btn">
    <span class="icon icon--search"></span>
  </button>
</form>
<p class="alert alert-danger" *ngIf="!hasResults">
  {{ 'addressFinder.error' | cxTranslate }}
</p>
<!-- MODAL -->
<ng-template #cisModal let-c="close" let-d="dismiss" id="collect-point-modal">
  <div class="modal-header flex-column">
    <div class="row justify-content-between w-100 pl-4 pr-0 m-0">
      <h2 class="modal-title h2--alt">{{ 'addressFinder.modalTitle' | cxTranslate }}</h2>
      <button type="button" class="close" [attr.aria-label]="'common.closeBtn' | cxTranslate" (click)="closeCisModal()">
        <span aria-hidden="true">
          <cx-icon [type]="iconTypes.CLOSE"></cx-icon>
        </span>
      </button>
    </div>
  </div>
  <div class="modal-body d-flex flex-row flex-wrap pt-3">
    <app-custom-cis-finder></app-custom-cis-finder>
    <div *ngIf="cisList$ | async as cisList" class="collection-point__search-results">
      <h3 class="collection-point__title">{{ 'addressFinder.tabsTitle' | cxTranslate }}</h3>
      <div class="collection-point__nav">
        <div class=" collection-point__total-count">
          {{ 'addressFinder.searchCount' | cxTranslate: { count: cisList.length } }}
        </div>
        <ul class="collection-point__tabs nav nav-tabs">
          <li
            class="collection-point__tabs-item nav-item"
            [ngClass]="{ active: listViewType === 'list' }"
            (click)="toggleListView('list')"
          >
            {{ 'addressFinder.tabsListTitle' | cxTranslate }}
          </li>
          <li
            class="collection-point__tabs-item nav-item"
            [ngClass]="{ active: listViewType === 'map' }"
            (click)="toggleListView('map')"
          >
            {{ 'addressFinder.tabsMapTitle' | cxTranslate }}
          </li>
        </ul>
      </div>

      <div class="collection-point__list-view">
        <div class="collection-point__list-view-list" *ngIf="listViewType === 'list'">
          <div class="row">
            <div class="col-12 col-md-4 mb-4" *ngFor="let cis of cisList">
              <app-collection-point-item
                [data]="cis"
                [showUnavailableBtn]="true"
                (displayInfoEmit)="onInfoEmit($event)"
                (selectCollectionPointEmit)="onSelectCollectionPointEmit($event)"
              ></app-collection-point-item>
            </div>
          </div>
        </div>
        <div class="collection-point__list-view-map" *ngIf="listViewType === 'map'">
          <agm-map
            [latitude]="mapCenter?.lat"
            [longitude]="mapCenter?.lng"
            [usePanning]="true"
            [zoom]="mapZoom"
            [disableDefaultUI]="false"
          >
            <!--Searched location-->
            <agm-marker
              [latitude]="location?.lat"
              [longitude]="location?.lng"
              [iconUrl]="mapIcons.currentLocation"
              [markerClickable]="false"
            >
            </agm-marker>

            <!-- Search results-->
            <agm-marker
              *ngFor="let cis of cisList; let i = index"
              [latitude]="cis.geoPoint.latitude"
              [longitude]="cis.geoPoint.longitude"
              [markerClickable]="true"
              (markerClick)="markerClicked(cis)"
              [iconUrl]="cis.isActive ? mapIcons.secondary : mapIcons.secondaryInactive"
            >
            </agm-marker>
          </agm-map>
          <app-map-info-window
            [storeInfo]="storeInfo"
            [showUnavailableBtn]="true"
            [dataType]="'cis'"
            (closeInfoEmit)="onInfoCloseEmit()"
            *ngIf="storeInfo"
            (setCollectInStoreEmit)="onSelectCollectionPointEmit($event)"
          ></app-map-info-window>
        </div>
      </div>
    </div>
  </div>
</ng-template>
