<!-- <div class="amp-dc-key-ingredients">
    <div class="container">
        <div class="row align-items-center">
           <div class="col-lg-4 m-auto amp-dc-key-ingredients__text-column order-1 order-lg-0">
                {{#if heading3}}
                    <h3 class="font--{{heading3Font}}">{{heading3}}</h3>
                {{/if}}
                {{#if heading2}}
                    <h2 class="font--{{heading2Font}}">{{heading2}}</h2>
                {{/if}}
                {{#if bodyCopy}}
                     {{{markdown bodyCopy}}}
                {{/if}}  
                 {{#if ctaUrl}}
                    <a href="{{ctaUrl}}"{{#is ctaBehaviour 'new-tab'}} target="_blank"{{/is}} 
                    class="btn {{#contains ctaStyle "secondary"}} btn--secondary{{else}}btn--primary{{/contains}}{{#contains ctaStyle "light"}} btn--invert{{/contains}}">{{ctaCopy}}</a>
                {{/if}}
            </div>
           <div class="col-lg-6 d-flex justify-content-end justify-content-lg-start">
                 <div class="amp-dc-key-ingredients__img-holder">
                    {{#each media1}}
                        {{#if (test this.[@type] (toRegex ".*/image")) }}
                          {{> image-partial }}
                        {{/if}}
                     {{/each}} 
                     {{#each media2}} 
                        {{#if (test this.[@type] (toRegex ".*/image")) }} 
                          {{> image-partial }}
                        {{/if}}
                    {{/each}}
                </div>  
            </div>
        </div>
        <div class="row mt-lg-n4">
            <div class="col-6 amp-dc-key-ingredients__img">
                {{#each media3Desktop}}
                    <div class="desktop-show">
                        {{#if (test this.[@type] (toRegex ".*/image")) }}
                            {{> image-partial }}
                        {{/if}}
                    </div>
                {{/each}}
                {{#each media3Mobile}} 
                    <div class="mobile-show">
                        {{#if (test this.[@type] (toRegex ".*/image")) }}
                            {{> image-partial }}
                        {{/if}}
                    </div>
                {{/each}}
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="amp-dc-key-ingredients__text-block">
                    {{#if bodyCopy2}}
                        {{{markdown bodyCopy2}}}
                    {{/if}}  
                </div>
            </div>
        </div>
        <div class="amp-dc-key-ingredients__child">
            {{#if contentTypeShow}}
                {{#with contentTypeId}}
                    {{#if (test this.[@type] (toRegex ".*/content-type-partial")) }}
                        {{> banner-divided-partial }}
                    {{/if}}
                {{/with}}
            {{/if}}
        </div>
    </div>
</div> -->
