<div class="amp-dc__quote-editorial {{#with backgroundColourPalette}}bg--{{colour}}{{/with}} layout--{{mobileLayout}}">

    <div class="amp-dc__quote-editorial-content col-wrapper">
    <div class="amp-dc__quote-editorial-col col-left">
        
        {{#each media}}
            
            {{#if (test this.[@type] (toRegex ".*/image")) }}
                <img class="amp-dc__quote-editorial-image" src='https://{{this.image.defaultHost}}/i/{{this.image.endpoint}}/{{this.image.name}}' />
            {{/if}}
            
        {{#if (test this.[@type] (toRegex ".*/video")) }}
    
                <div class="amp-dc__quote-editorial-video">
                    <video class="" poster="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{this.video.name}}?protocol=https" {{#is ../videoControls 'on'}}controls{{/is}} muted src="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{video.name}}/mp4_720p">
                        <source src="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{this.video.name}}/mp4_720p" data-res="High" data-bitrate="2119" label="High" type="video/mpeg4" codecs="h264" />
                        <source src="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{this.video.name}}/mp4_480p" data-res="Medium" data-bitrate="689" label="Medium" type="video/mpeg4" codecs="h264" />
                        <source src="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{this.video.name}}/mp4_240p" data-res="Low" data-bitrate="325" label="Low" type="video/mpeg4" codecs="h264" />
                        <source src="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{this.video.name}}/webm_720p" data-res="High" data-bitrate="2000" label="High" type="video/webm" codecs="vp8" />
                        <source src="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{this.video.name}}/webm_480p" data-res="Medium" data-bitrate="624" label="Medium" type="video/webm" codecs="vp8" />
                        <source src="https://{{this.video.defaultHost}}/v/{{this.video.endpoint}}/{{this.video.name}}/webm_240p" data-res="Low" data-bitrate="325" label="Low" type="video/webm" codecs="vp8" />
                    </video>
                </div>
            {{/if}}
        {{/each}}
        
    </div>
    <div class="amp-dc__quote-editorial-col col-right txt--{{textAlignment}}">
        
      {{#if bodyCopy1Font}}<div class="{{#with bodyCopy1Font}}txt--{{font}}{{/with}}">{{bodyCopy1}}</div>{{/if}}
      {{#if bodyCopy2Font}}<div class="{{#with bodyCopy2Font}}txt--{{font}}{{/with}}">{{bodyCopy2}}</div>{{/if}}
      {{#if bodyCopy3Font}}<div class="{{#with bodyCopy3Font}}txt--{{font}}{{/with}}">{{bodyCopy3}}</div>{{/if}}
        
        {{#if ctaCopy}}
            <a href="{{ctaUrl}}" {{#is ctaAction 'new-tab'}}target="_blank"{{/is}} class="btn {{#with ctaStyle}}btn--{{style}}{{/with}}">{{ctaCopy}}</a>
        {{/if}}
          </div>
      </div>
    </div>
    