<!-- <link href="https://c1.adis.ws/c/thebodyshop/styles?v=110" rel="stylesheet" />

    {{#if (test this.[@type] (toRegex ".*/component-test")) }}
        {{> test-template }}
    {{/if}}
    {{#if (test this.[@type] (toRegex ".*/splitblock")) }}
        {{> splitblock-template }}
    {{/if}}
    {{#if (test this.[@type] (toRegex ".*/cardlist")) }}
        {{> cardlist-template }}
    {{/if}}
    {{#if (test this.[@type] (toRegex ".*/slider")) }}
        {{> slider-template }}
    {{/if}}
    {{#if (test this.[@type] (toRegex ".*/banner")) }}
        {{> banner-template }}
    {{/if}}
       {{#if (test this.[@type] (toRegex ".*/video")) }}
        {{> video-template }}
    {{/if}}
           {{#if (test this.[@type] (toRegex ".*/text")) }}
        {{> text-partial }}
    {{/if}}
    {{#if (test this.[@type] (toRegex ".*/image")) }}
        {{> image-partial }}
    {{/if}}
     {{#if (test this.[@type] (toRegex ".*/content-type-partial")) }}
        {{> banner-divided-partial }}
    {{/if}}
    
    {{#if (test this.[@type] (toRegex ".*/homepage-hero")) }}
        {{> homepage-hero-template }}
    {{/if}}
    {{#if (test this.[@type] (toRegex ".*/quote-editorial")) }}
        {{> quote-editorial-template }}
    {{/if}}
    {{#if (test this.[@type] (toRegex ".*/component-image-and-text")) }}
        {{> banner-divided-template }}
    {{/if}}
     {{#if (test this.[@type] (toRegex ".*/content-block")) }}
        {{> content-block-template }}
    {{/if}}
     {{#if (test this.[@type] (toRegex ".*/simple-banner")) }}
        {{> simple-banner-template }}
    {{/if}}
     {{#if (test this.[@type] (toRegex ".*/component-banner-with-background")) }}
          {{> banner-with-bg-template }}
    {{/if}}
         {{#if (test this.[@type] (toRegex ".*/key-Ingredient")) }}
          {{> key-ingredient-template }}
    {{/if}}
    
    
    

     -->
